.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Add by user
/src/main/frontend/node_modules/
gradlew
gradlew.bat
/src/main/frontend/dist/
/src/main/resources/static/
